<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://htmltable2json20181012070348.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8e2cadc0-d5cf-4dcf-a574-78c64fede621/resourcegroups/sfdistro/providers/Microsoft.Web/sites/HtmlTable2Json20181012070348</ResourceId>
    <UserName>$HtmlTable2Json20181012070348</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://htmltable2json20181012070348.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>